@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.lobster-font {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-font {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
:root{
    --inter:"Inter", sans-serif;
}
/* shared style */
.maxWidth{
    max-width: 1440px;
    margin: 0px auto 130px;
}
.primary-btn{
    background-color: #ff5959;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 16px 21px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;

}
.heading{
    font-size: 4rem;
    font-weight: bold;
    color: #121212;
    margin-bottom: 20px;
}
.text{
    font-size: 1.12rem;
    line-height: 28px;
    color: #707070;
    margin-bottom: 20px;
}
/* main style */
.banner{
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    gap:43px;
    background: url("../images/Ellipse\ 257.png");
    background-repeat: no-repeat;
    background-position:96.5% 100%;
}
.banner-text-content{
    max-width: 524px;
    margin: 121px 0px 121px 156px;
}
.banner-heading{
    font-size: 4rem;
    font-weight: bold;
    color: #121212;
    margin-bottom: 20px;
}
.text{
    font-size: 1.12rem;
    line-height: 28px;
    color: #707070;
    margin-bottom: 20px;
}
.video-btn{
    border-radius: 5px;
    color: #707070;
    padding: 16px 21px;
    border: none;
    font-size: 1.12rem;
    font-weight: 600;
    
}
.video-btn:hover{
    background-color: #ff5959;
    color: #FFFFFF;
    transition: all 0.5s ease-out;
}
.banner-img-container{
    margin-top: 66px;
    margin-right: 170px;
}
.banner-img-container img{
    vertical-align: middle;
}

/* Donate section styles */
.donate{
    max-width: 727px;
    margin: 175px auto;
    /* border: 1px solid black; */
    text-align: center;
}
.donate-amount{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 21px;
    margin-bottom: 60px;
}
.amout-card{
    background-color: #fafafa;
    border-radius: 5px;
    padding: 44px 23px;
    font-size: 1.95rem;
    font-weight: bold;
    color: #707070;
}
#active-card{
    border: 1px solid #ff5959;
    color: #ff5959;
}
.amout-card:hover{
    border: 1px solid lightgray;
    transition: all 2s ease-out;
}
hr{
    color: #dadada;
    height: 1px;
    margin-bottom: 30px;
}
/* Donate plan section */
.plan-section-heading, .update-section{
    max-width: 691px;
    margin: 0px auto 50px;
    text-align: center;
}
.plan-card-container{
    margin: 0 auto;
    max-width: 1106px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
.plan-card{
    border-radius: 5px;
    border: none;
    box-shadow: 0px 4px 4px 0 rgba(0,0,0,0.25);
}
.plan-card img{
    margin:63px 0px 31px 23px ;
}
.plan-card div{
    max-width: 315px;
    margin: 0px 23px 54px 23px;
}
.plan-card div h4{
    font-size: 1.5rem;
    font-weight: 600;
    color: #121212;
    margin-bottom: 16px;
}
#card1{
    background-color: rgba(79, 157, 166, 0.1);
}
#card2{
    background-color: rgba(255, 89, 89, 0.1);
}
#card3{
    background-color: rgba(255, 244, 214, 1);
}
/* Homeless section design */
.home{
    margin-top: 0px;
}
.homeless-section{
    max-width: 1032px;
    margin: 0px 256px 0px 156px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:94px;
    align-items: center;
}
.homeless-content h3, .update-section h3{
    font-size: 3rem;
    font-weight: bold;
    color: #121212;
    margin-bottom: 20px;
}
.img-container img{
    width: 100%;
}
.subscribe-section{
    max-width: 809px;
    margin: 50px auto 0px;
    text-align: center;
    padding: 76px 0px;
    background-color: rgba(255, 244, 214, 1);
}
.subscribe{
    background-color: #ff5959;
    color: #FFFFFF;
    padding: 14px 43px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    box-shadow: 0px 9px 20px -3px rgba(120, 84, 247, 0.33);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.subscribe-section input{
    background-color: #D9D9D9;
    width: 275px;
    padding: 14px 0px 14px 17px;
    border: 2px solid #D9D9D9;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 4 4 0 rgba(0,0,0,0.25);
}
footer{
    background-color: #121212;
    
}
.footer-content{
    max-width: 158px;
    padding: 44px 0px;
    margin: 0 auto;
    text-align: center;
}
.footer-content h3{
    font-size: 2.25rem;
    color: #ff5959;
}

/* Responsive for small device */
@media screen and (max-width:576px) {
    .banner {
        flex-direction: column;
        gap:0px;
        background-size: contain;
    }
    .banner-text-content {
        margin: 30px auto 0px;
        text-align: center;
    }
    .banner-img-container {
        margin:20px;
    }
    .donate-amount {
        grid-template-columns: repeat(3,1fr);
        gap:10px;
        margin-bottom: 40px;
    }
    .plan-card-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    .plan-card{
        margin: 20px;
        text-align: center;
    }
    .plan-card div {
        margin: 0 auto;
    }
    .homeless-section {
        margin: 0px 20px;
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
        align-items: center;
    }
    #home-card1{
        order:1;
    }
    #home-card2{
        order: 2;
    }
    #home-card3{
        order: 4;
    }
    #home-card4{
        order: 3;
    }
}
/* Responsive for medium device */
@media screen and (min-width:577px) and (max-width:992px) {
    .banner {
        flex-direction: column;
        gap:0px;
        background-size: contain;
        justify-content: center;
        align-items: center;
    }
    .banner-text-content {
        margin: 30px auto 0px;
        text-align: center;
    }
    .banner-img-container {
        margin-right: 0px;
    }
    .donate-amount {
        grid-template-columns: repeat(3,1fr);
        gap:10px;
        margin-bottom: 40px;
    }
    .plan-card-container {
        grid-template-columns: repeat(2,1fr);
        margin: 10px;
        gap: 10px;
    }
    .homeless-section {
        margin: 0px 20px;
        grid-template-columns: 1fr;
        gap:10px;
    }
    
}
   